@use "./variables.scss" as *;

// FLEX
@mixin flexRowSpaceBtwn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexRowCenterGap ($gapValue) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gapValue;
}

// CONTAINERS
@mixin mainContainer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
}

// @mixin innerContainer {
//     width: 100%;
//     max-width: 1240px;
//     margin: 0 auto;
    // padding: 0 1rem;
// }

// BUTTONS
@mixin ctaButton ($bgColor, $textColor, $py, $px) {
    display: inline-block;
    background-color: $bgColor;
    border: none;
    border-radius: 6px;

    a {
        display: inline-block;
        padding: $py $px;

        color: $textColor;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 0.75rem;
        font-weight: 900;
    }
}

// TITLES
@mixin sectionTitle {
    color: $heading-color;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 100;
    text-transform: capitalize;
}

@mixin sectionSubTitle {
    color: $dark-color-one;
    margin-bottom: 2.5rem;
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 1.5em;
}

// SHAPES ANIMATION
// @mixin shapesAnimation {
    
//     @keyframes shapesAnimation {
//         0% {

//         }
//         25% {

//         }
//         50% {

//         }
//         100% {
            
//         }
//     }
// }