@use "./variables.scss" as *;

// FLEX
@mixin flexRowSpaceBtwn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexRowCenterGap ($gapValue) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gapValue;
}

// CONTAINERS
@mixin mainContainer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
}

// BUTTONS
@mixin ctaButton {
    display: inline-block;
    background-color: $cta-color;
    border: none;
    border-radius: 6px;


    a {
        display: inline-block;
        padding: 8px 32px;

        color: $light-color-two;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 0.70rem;
        font-weight: 700;
    }
}