// COLORS
$light-color-one: #ffffff;
$light-color-two: #f5f5f5;
$light-color-three: #fbf9f6;
$light-color-four: #f4ebe2;

$neutral-color-one:#808080;
$neutral-color-two:#bcbcbc;

$dark-color-one: #333333;

$hover-color: #1972f5;
$active-color: #458bf5;

$heading-color: #6ac5f1;
$heading-color-light:#9bd5f1;
$cta-color: #ef6f31;
$cta-color-light: #fdf0ea;

// SPACING
$spacing-small: 1rem;
$spacing-medium: 1.5rem;

// FONT SIZES
// 1rem = 18px
$fs-xs: 0.8rem;
$fs-s: 0.9rem;
$fs-md: 1rem;
$fs-l: 1.75rem;
$fs-xl: 2rem;
$fs-xxl: 2.5rem;