@use './partials/variables.scss' as *;
@use './partials/mixins.scss' as *;
@use './partials/reset.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
    font-size: 18px;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

@font-face {
    font-family: "Rossela";
    src:
        local("Rossela"),
        url(./assets/fonts/Rossela-Demo.ttf) format("truetype");
}

.container {
    &.small {
        @include mainContainer ($mainContainerWidthSmall);
    }

    &.large {
        @include mainContainer ($mainContainerWidth);
    }
}